[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.fullstackacademy.com/apply
Type=Link
URL=https://meet.google.com/linkredirect?authuser=0&dest=https%3A%2F%2Fwww.fullstackacademy.com%2Fapply
Icon=text-html
